tr:nth-child(even) {background: #CCF}
tr:nth-child(odd) {background: #FFF}
body {
	font: normal 100% SimHei, Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 1.5em; 
}
small {
	font-size: 0.875em;
}
.rightBar {
	float: right;
	width: 30%; 
}
.leftBar {
	float: left;
	width: 25%;
	position: fixed;
	top: 20px;
	left: 20%;
}